* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  min-height: 100vh;

  padding: 0 24px;
  text-align: center;
}

.menu {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  & > ul {
    list-style-type: none;
    display: none;

    li {
      font-size: 1.2rem;
    }
  }

  & > button {
    align-self: flex-end;
    font-size: 2rem;
    margin: 16px 0;

    background-color: transparent;
    border: none;
    outline: none;

    color: gray;
  }
}

.apresentacao {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 52px;

  img {
    border-radius: 50%;
    width: 50%;
  }

  .dados-pessoais {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    h2 {
      font-size: 1.8rem;
    }

    .download {
      background-color: rgb(243, 86, 86);

      padding: 10px 20px;
      border-radius: 2px;
      border: none;

      color: white;
      font-size: 1.05rem;

      width: fit-content;
    }
  }
}

@media (min-width: 992px) {
  .apresentacao {
    flex-direction: row-reverse;
    gap: 72px;

    img {
      max-width: 350px;
    }

    .dados-pessoais {
      align-items: flex-start;
      text-align: left;
    }
  }

  .menu {
    & > ul {
      display: flex;
      flex-direction: row;
      gap: 24px;

      padding: 16px 0;
    }

    & > button {
      display: none;
    }
  }
}