@media (prefers-color-scheme: light) {
  :root {
    --bg-primary: rgb(236, 236, 236);
    --bg-secondary: white;
    --txt-color: black;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: rgb(32, 32, 32);
    --bg-secondary: rgb(48, 48, 48);
    --txt-color: white;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-primary);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 16px 6px;

  h1 {
    font-size: 1.3rem;
  }

  ul {
    display: none;
  }

  .menu {
    align-self: flex-end;
    font-size: 2rem;

    background-color: transparent;
    border: none;
    outline: none;

    color: gray;
  }
}

h1, h2, p, span, li {
  color: var(--txt-color);
}

main {
  padding: 0 6px;
  
  display: flex;
  flex-direction: column;
  gap: 12px;

  section {
    background-color: var(--bg-secondary);
    padding: 8px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    
    h2 {
      font-size: 1.15rem;;
      text-align: left;
      width: 100%;
    }

    img {
      width: 80%;
    }
  }
}

@media screen and (min-width: 576px) {
  header {
    margin-bottom: 16px;
    
    h1 {
      font-size: 1.7rem;
    }
  }

  main section {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;

    padding: 16px 12px;

    h2 {
      flex-basis: 100%;
      font-size: 1.4rem;
      margin-bottom: 8px;
    }

    img {
      flex-basis: 40%;
      max-width: 250px;
    }

    p {
      flex-basis: 60%;
      flex-grow: 1;
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    max-width: 768px;
    margin: 0 auto;
  }
}