body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#titulo {
  text-align: center;
}

.descricao {
  display: block;
  background-color: lightgray;
  padding: 12px 10px;
  border-radius: 4px;
  border-left: 3px solid rgb(107, 107, 245);
}

button {
  display: block;
  margin: 24px auto;
  border: none;
  border-radius: 12px;
  padding: 12px 24px;

  background-color: rgb(48, 143, 202);
  color: white;
  cursor: pointer;
}

p {
  padding: 12px 10px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  box-shadow: 2px 2px rgba(216, 216, 216, 0.479);
}
