main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
}

header {
  position: relative;
}

.banner {
  width: 851px;
  height: 315px;

  border-radius: 12px 12px 0px 0px;
}

#banner-1 {
  background: center
    url("https://blog.quizur.com/wp-content/uploads/2024/03/F294QkuW4AEthId-1200x789.webp")
    local;
}

#banner-1:hover {
  background: center
    url("https://moodgate.com.br/wp-content/uploads/2025/01/pilots_site-header.jpg");
}

#banner-2 {
  background: center
    url("https://rollingstone.com.br/media/uploads/2024/09/jade-picon-acidente-de-carro-1_svt14lru.png");
}

#banner-2:hover {
  background: center
    url("https://www.cnnbrasil.com.br/wp-content/uploads/sites/12/2024/11/linkin-park.jpg");
}

#banner-3 {
  background: center
    url("https://musicnonstop.uol.com.br/wp-content/uploads/2025/01/Charli-xcx.webp");
}

#banner-3:hover {
  background: center
    url("https://www.cnnbrasil.com.br/wp-content/uploads/sites/12/2024/04/charli-xcx-e1728398150451.jpg");
}

.profile {
  width: 128px;
  height: 128px;
  border-radius: 100%;
  border: 4px solid white;

  position: absolute;
  bottom: 0;
  left: 24px;
  transform: translateY(50%);
}
