h1 {
  text-decoration: underline;
}

#cartao {
  width: 300px;
  border: 1px solid black;
  
  font-family: 'Verdana';
  font-size: 12px;
  text-align: center;
  line-height: 1.3px;
  color: purple;
}