body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

header,
main,
footer {
  padding: 20px;
}

main {
  height: 100lvh;
}

footer {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
}

nav {
  background-color: #f4f4f4;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

button {
  background-color: #0a5fc0;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode header,
body.dark-mode main {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

body.dark-mode nav {
  background-color: #333;
}

body.dark-mode footer {
  background-color: #333;
  color: white;
}

body.dark-mode nav a {
  color: #e0e0e0;
}

body.dark-mode button {
  background-color: #4a4a4a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
