.menu {
  background-color: var(--bg-secondary);
  border-bottom: 1px solid var(--border-color);
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.menuItem {
  flex-grow: 1;
  margin: 0;
}

.menuLink {
  display: block;
  padding: 18px 16px;
  color: var(--text-primary);
  text-decoration: none;
  font-size: 14px;
  border-bottom: 1px solid var(--border-color);
}

.menuLink:hover {
  background-color: var(--border-color);
  color: var(--accent);
  text-decoration: none;
}

@media (min-width: 576px) and (max-width: 992px) {
  .menuList {
    flex-direction: row;
  }

  .menuItem {
    width: auto;
    flex: 1;
  }

  .menuLink {
    text-align: center;
    border-bottom: none;
    border-right: 1px solid var(--border-color);
  }

  .menuItem:last-child .menuLink {
    border-right: none;
  }

  .menuLink:hover {
    background-color: var(--border-color);
  }
}

@media (min-width: 992px) {
  .menuList {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
  }

  .menuItem {
    flex: 1;
    text-align: center;
  }

  .menuLink {
    border-bottom: none;
    padding: 16px;
  }
}
