* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 24px;

  padding: 0 24px;
  text-align: center;
}

.menu {
  align-self: flex-end;
  font-size: 2rem;
  margin: 16px 0;

  background-color: transparent;
  border: none;
  outline: none;

  color: gray;
}

img {
  border-radius: 50%;
  width: 40%;
}

.download {
  background-color: rgb(243, 86, 86);

  padding: 10px 20px;
  border-radius: 2px;
  border: none;

  color: white;
  font-size: 1.05rem;
}