@import url('desktop.css') screen and (min-width: 993px) and (min-height: 600px);
@import url('print.css') print and ((min-width: 600px) and (max-width: 800px) and (orientation: portrait));

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  padding: 8px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content min-content min-content auto min-content;
  gap: 16px;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  > * {
    padding: 16px;
    border-radius: 8px;
  }
}

header {
  grid-column: span 3;

  text-align: center;
}

nav {
  grid-column: span 3;
  
  ul {
    width: 100%;
    height: 100%;

    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      font-size: 1.5rem;

      span {
        display: none;
      }
    }
  }
}

aside {
  background-color: lightgreen;

  grid-column: span 3;
}

main {
  background-color: lightseagreen;
  grid-column: span 3;

  display: flex;
  flex-direction: column;
  gap: 16px;

  article {
    background-color: white;
    padding: 12px;
    border-radius: 8px;
  }
}

footer {
  background-color: lightpink;
  grid-column: span 3;

  text-align: center;
}