.product-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.product-form .input {
    flex: 1;
    min-width: 200px;
}

.product-form button {
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;

    width: 90%;
}