body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  width: 100vw;
  height: 100vh;
}

.container {
  display: grid;
  justify-items: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: skyblue;
}

.elemento1 {
  width: 200px;
  height: 200px;
  background-color: yellow;
  border-radius: 12px;
}

.elemento2 {
  width: 500px;
  height: 40px;
  background-color: red;
  border-radius: 5px;
}

.elemento3 {
  width: 200px;
  height: 200px;
  background-color: green;
  border-radius: 50%;
}

@media (min-width: 1020px) {
  .container {
    grid-template-columns: repeat(3, auto);
    gap: 20px;
  }
}