:root {
  --primary: #df3838;
  --secondary: #222222;

  --background: #f0f0f0;
  --card-background: #ffffff;

  --border: #e0e0e0;
  --text: #141414;
  --text-secondary: #666666;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --card-background: #2c2c2c;
    --border: #404040;
    --text: #f0f0f0;
    --text-secondary: #b0b0b0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}