body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#titulo {
  text-align: center;
}

.descricao {
  display: block;
  background-color: lightgray;
  padding: 12px 10px;
  border-radius: 4px;
  border-left: 3px solid rgb(107, 107, 245);
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 12px;
  margin: 12px 0;
}

ul {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  box-shadow: 2px 2px rgba(216, 216, 216, 0.479);
  list-style: none;
  padding: 0px;

  li {
    padding: 16px 20px;

    &:not(:last-child) {
      border-bottom: 1px solid rgb(221, 221, 221);
    }

    &:hover {
      background-color: rgb(221, 221, 221);
    }
  }
}

p {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  box-shadow: 2px 2px rgba(216, 216, 216, 0.479);
  padding: 16px 20px;

  transition: background-color 0.5s;
}

button {
  margin: 12px auto;
  display: block;
  border: none;
  border-radius: 12px;
  padding: 12px 24px;

  background-color: rgb(48, 143, 202);
  color: white;
  cursor: pointer;

  font-size: 1rem;

  transition: transform 0.5s;

  &:active {
    transform: scaleY(102%) scaleX(102%);
  }
}

input {
  border: 1px solid rgb(221, 221, 221);
  outline: none;
  border-radius: 8px;
  padding: 8px 20px;
  flex-grow: 1;

  font-size: 1rem;

  &:focus {
    outline: 1px solid rgb(48, 143, 202);
  }
}
