h2 {
  text-align: center;
}

.galeria {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
}

.galeria img {
  width: 32%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}
