body {
  margin: 0;
  background-color: slategray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
  max-width: 992px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: darkgrey;
  padding: 0 12px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  gap: 24px;
}

nav a {
  text-decoration: none;
  color: black;
}

#logo {
  height: 50px;
}

main {
  padding: 0px 24px;
}

main p {
  text-align: justify;
}
