body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#titulo {
  text-align: center;
}

.descricao {
  display: block;
  background-color: lightgray;
  padding: 12px 10px;
  border-radius: 4px;
  border-left: 3px solid rgb(107, 107, 245);
}

ul {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  box-shadow: 2px 2px rgba(216, 216, 216, 0.479);
  list-style: none;
  padding: 0px;

  li {
    padding: 16px 20px;

    &:not(:last-child) {
      border-bottom: 1px solid rgb(221, 221, 221);
    }

    &:hover {
      background-color: rgb(221, 221, 221);
    }
  }
}
