body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

section {
  width: 550px;
  margin: 0 auto;
}

article {
  & > .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;

    & > img {
      width: 42px;
      height: 42px;
      border-radius: 100%;

      border: 2px solid #fd1d1d;
      padding: 2px;
    }

    & > ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-grow: 1;

      padding: 0;
      padding-left: 12px;
      gap: 6px;

      li {
        color: gray;
      }

      & > li:first-child {
        color: black;
        font-weight: bold;
      }

      & > li:last-child {
        flex-grow: 1;
      }
    }
  }

  & > .carousel {
    width: 100%;
    position: relative;
    padding: 0;

    img {
      width: 100%;
      height: 100%;
      border-radius: 4px;

      transition: transform 0.5s;

      &:hover {
        transform: scaleY(102%) scaleX(102%);
      }
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      padding: 0;
      gap: 3px;

      box-sizing: border-box;
      position: absolute;
      bottom: 8px;
      width: 100%;

      li {
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: lightgray;
      }

      & li:first-child {
        background-color: white;
      }
    }

    div {
      box-sizing: border-box;
      position: absolute;
      right: 8px;
      top: 0;
      height: 100%;

      display: flex;
      align-items: center;
    }
  }

  & > .buttons {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

    & > li:last-child {
      flex-grow: 1;
      display: flex;
      justify-content: end;
    }
  }

  & > .likes {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;

    img {
      width: 16px;
      height: 16px;
      border-radius: 100%;
    }

    img:not(:first-child) {
      margin-left: -6px;
    }

    span {
      margin-left: 4px;
      line-height: 16px;
      text-align: center;
      font-weight: bold;
    }
  }

  & > .subtitle {
    margin: 6px 0;
  }

  & > .comments p {
    margin: 6px 0;
  }

  & > .comment {
    display: flex;
    flex-direction: row;
    gap: 12px;

    input {
      flex-grow: 1;

      border: none;
      outline: none;
      box-sizing: border-box;
    }
  }
}

button {
  width: 48px;
  height: 48px;
  padding: 0;

  font-size: 1.3rem;
  border-radius: 100%;
  background-color: transparent;
  border: none;

  cursor: pointer;

  &.transluscent {
    width: 34px;
    height: 34px;

    background-color: rgba(255, 255, 255, 0.25);
    font-size: 1rem;
    color: white;
  }

  &.primary {
    height: 34px;

    background-color: #fd1d1d;
    font-size: 1rem;
    color: white;

    border-radius: 16px;
    padding: 0 12px;

    &:disabled {
      background-color: lightgray;
      cursor: not-allowed;
    }
  }
}

.liked {
  color: #fd1d1d;
}
