:root {
  --primary: rgb(40, 129, 170);
}

.card {
}

.card .banner {
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 350px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 2px #00000015;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .banner {
    background-color: var(--primary);
    height: 100px;
    width: 100%;

    border-radius: 10px 10px 0 0;
    margin-bottom: 64px;
  }

  .picture {
    border: 2px solid var(--primary);
    border-radius: 100%;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 40px;

    > img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 6px solid white;
      margin: 0;
    }
  }

  h3,
  h4 {
    margin: 2px 0;
    font-weight: bold;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.1rem;
    color: var(--primary);
  }

  p {
    margin: 8px 24px;
    text-align: justify;
    line-height: 1.5rem;
  }

  .button {
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary);
    text-decoration: none;

    background-color: transparent;
    border: 2px solid var(--primary);
    border-radius: 16px;

    cursor: pointer;

    &:hover {
      background-color: var(--primary);
      color: white;
    }
  }

  ul {
    width: 100%;
    background-color: var(--primary);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;

    list-style-type: none;
    padding: 8px 25%;

    li {
      font-size: 1.2rem;

      i {
        color: white;
      }
    }
  }

  .checkbox {
    background-color: white;
    border: none;
    border-radius: 12px;

    width: 40px;
    padding: 4px 6px;

    display: flex;
    flex-direction: row;
    justify-content: right;

    position: absolute;
    top: 8px;
    left: 8px;

    cursor: pointer;

    &:active {
      justify-content: left;
    }

    > div {
      background-color: var(--primary);

      height: 14px;
      width: 14px;

      border-radius: 100%;
    }
  }
}
