body {
  background-color: darkslategray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  background-color: white;
  width: 32%;
  border-radius: 8px;
}

.card > img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}

.card > div {
  padding: 8px;
}

.card h4 {
  margin: 8px 0px;
}

.card h4,
.card p {
  text-align: center;
}
