.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 16px 8px;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  h1 {
    font-size: 1.5rem;
    color: #333;
  }

  h3 {
    font-size: 1.2rem;
    color: #696969;
  }
}

.carregando {
  text-align: center;
  padding: 40px 16px;
  font-size: 1.1rem;
  color: #666;
}

.imagens {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-block: 24px;

  .imagem {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 2px solid var(--primary-light);
    background-color: white;
  }
}

.centro {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}

.preco {
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--success-dark);
}

.restantes {
  align-self: flex-start;
  
  background-color: var(--error);
  padding: 4px 8px;
  border-radius: 24px;
  
  font-size: 0.9rem;
  color: white;
}

.info {
  background-color: var(--primary-light);
  border-radius: 8px;
  padding: 16px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;

  p {
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
  }

  span {
    background-color: var(--primary-dark);

    font-weight: 600;
    color: white;

    padding: 6px 12px;
    border-radius: 24px;
  }
}

.descricao {
  font-size: 1rem;
  margin-bottom: 8px;
  line-height: 1.6;
}

@media screen and (min-width: 576px) {
  .container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: min-content;
    column-gap: 24px;
  }

  .topo {
    align-self: center;
  }

  .imagens {
    grid-row: 1 / span 2;
  }

  .info {
    grid-column: span 2;
  }
}

@media screen and (min-width: 768px) {
  
}