body {
  background-color: aliceblue;
  font-family: Arial, sans-serif;
}

div {
  background-color: white;
  margin: 24px auto;
  width: 550px;
  padding: 16px;
}

button {
  width: 100%;
  height: auto;
  background-color: lightskyblue;
  border: none;
  border-radius: 12px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 8px 0;
  padding: 12px;
  background-color: rgb(230, 230, 230);
  border-radius: 8px;
}
