nav {
  display: flex;
  flex-direction: row;

  max-width: 500px;
  margin: 24px;

  background-color: white;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  a {
    text-decoration: none;
    color: black;

    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;

    flex-grow: 1;

    padding: 12px 6px;
  }

  a:hover {
    background-color: rgb(55, 92, 109);
    color: white;
    border-radius: 8px;
  }
}
