.app {
  background: linear-gradient(to bottom right, #d7ebff, #91b4e6) no-repeat fixed;
  min-height: 100lvh;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

#container {
  background-color: #f5f5f5;
  flex-grow: 1;
  position: relative;
}

@media screen and (min-width: 768px) {
  #container {
    margin: 64px 24px;
    padding: 8px;
    border-radius: 26px;
  }
}

@media screen and (min-width: 992px) {
  #container {
    margin: 16px;
    border-radius: 20px;
  }
}
