main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
}

header {
  position: relative;
}

.banner {
  width: 851px;
  height: 315px;
  object-fit: cover;
  object-position: center 20%;

  border-radius: 12px 12px 0px 0px;
}

.profile {
  width: 128px;
  height: 128px;
  border-radius: 100%;
  border: 4px solid white;

  position: absolute;
  bottom: 0;
  left: 24px;
  transform: translateY(50%);
}
