:root {
  --primary: #8ec5f1;
  --text-gray: #999999;
}

html {
  font-size: 14px;
}

.card {
  width: 400px;
  background-color: #1e1b26;
  border-radius: 10px;

  font-family: "Inter", sans-serif;
  color: white;

  position: relative;

  img {
    width: 100%;
    height: 450px;
    object-fit: cover;

    border-radius: 10px 10px 0 0;
  }

  .content {
    padding: 0 24px;
  }

  .title {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 12px 0 0 0;
  }

  .info,
  .summary {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-gray);
  }

  .summary {
    text-align: justify;
    line-height: 20px;
  }

  .summary-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 16px 0;

    h4 {
      font-weight: 400;
      font-size: 1rem;
      flex-grow: 2;
      text-align: left;
      margin: 0;
      padding: 0;
    }

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      gap: 12px;
      margin: 0;
      padding: 0;
    }

    li {
      display: flex;
      gap: 8px;
      align-items: center;
      color: var(--primary);
    }
  }

  .cast {
    font-size: 0.8rem;
    font-style: italic;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 12px 0 24px 0;

    > * {
      flex-grow: 1;
    }

    div {
      flex-grow: 2;
    }

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;

      width: fit-content;
      padding: 4px 8px;

      border: 1px solid var(--primary);
      border-radius: 4px;

      color: var(--primary);
      text-decoration: none;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .top-button {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}

.button {
  background-color: transparent;
  border: none;

  color: var(--primary);
  font-size: 1.4rem;

  cursor: pointer;
}
