.destaque {
  position: relative;
  width: 100%;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, transparent 100%);
    pointer-events: none;
  }

  img {
    width: 100%;
    display: block;
  }

  q {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    color: white;
    font-size: 1.2rem;
    z-index: 1;
    margin: 0;
  }
}

.conteudo {
  padding: 8px;

  h2 {
    margin-top: 8px;
    margin-bottom: 16px;
    padding-bottom: 8px;
    padding-inline: 2px;
    color: var(--text);

    border-bottom: 2px solid var(--primary);
  }
}